<html>
  <body>

<div id="full-size">
<center>

<h1>Let's QomPair!</h1>
<p id='counter'></p>
<table>
  <tr>
    <td><h4>Optie1</h4></td>
    <td><h4>Optie2</h4></td>
  </tr>
  <tr>
    <td><button id="optiona"><p>Choose</p></button></td>
    <td><button id="optionb"><p>Choose</p></button></td>
  </tr>
</table>

<div id="wait" class="fullscreen">
  <h1>Waiting for next question</h1>
</div>

<div id="answer" class="fullscreen">
  <h1>Waiting for next question</h1>
</div>

</center>
</div>

</body>
</html>
