<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
   </head>
  <body>

<script src="js/game.js"></script>

<div id="full-size">
<center>

<h1>Let's QomPair!</h1>
  <h1 id="question" "?"></h1>
  <div id='counter'>
    <span id="time_s"></span>,
    <span id="time_ms"></span>
  </div>

  <table>
    <tr>
      <td><p id="optiona_name"></p></td>
      <td><p id="optionb_name"></p></td>
    </tr>
    <tr>
      <td><img id="optiona_img" src="/images/audi_r8.png" alt="Home" height="150" width="150"/> </td>
      <td><img id="optionb_img" src="/images/porsche_carrera_gt.png" alt="Home" height="150" width="150"/> </td>
    </tr>
    <tr>
      <td><button data-option="a" class="answer"><p>Choose</p></button></td>
      <td><button data-option="b" class="answer"><p>Choose</p></button></td>
    </tr>
  </table>

  <div class="fullscreen">
    <div id="load">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
    <div id="result">
    </div>
    <h1>QomPairing stuff...</h1>
  </div>
</div>

</center>
</div>

</body>
</html>
