<html>
  <body>


<script src='/js/lobby.js'></script>

<div id="full-size">
<center>
  <div class="homelogo"><img src="/images/iconhome.png" alt="Home" height="60" width="60"></div>
  <br />
<h1 class="gamepinning">Pin: <span id="pin"></span></h1>
<p>Let your friends enter this code to join the game!</p> <br />
<br />
<p>Waiting for the host to start</p>

<h2>Players:</h2>
<div id="players">

</div>
<div id="hostmenu">
  <br />
  <button id="start"><p>Start the game</p></button>
</div>

</center>
</div>

</body>
</html>
